# NOTE: following list of exceptions are from typeshed
# Some PEP8 deviations are considered irrelevant to stub files:
#       E301 expected 1 blank line
#       E302 expected 2 blank lines
#       E305 expected 2 blank lines
#       E701 multiple statements on one line (colon)
#       E741 ambiguous variable name
#       F401 imported but unused
#       F403 import *' used; unable to detect undefined names
#       F405 defined from star imports
#       F822 undefined name in __all__

[flake8]
max-line-length = 100
per-file-ignores =
  *.pyi: E301, E302, E305, E701, E741, F401, F403, F405, F822
exclude =
    .git,
    .venv,
    _build,
    __pycache__,
    .mypy_cache,
    pybind11
