# General files
*.log
*~

# IntelliJ IDEA related files
.idea
cmake-build-debug

# emacs related files
TAGS

# C++ related files
*.so

# Python related files
__pycache__
*.egg-info
.venv
poetry.lock

# CMake related files
_build
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
